on: [push]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with: 
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - uses: golangci/golangci-lint-action@v6
      - run: make lint
      - run: make test
      - run: make image
      - name: Run test
        run: make e2e

  upload-source:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
            tag_name: v0.4.1
            release_name: Release v0.4.1
            body: |
              Changes in this Release
              - Create RPM
              - Upload Source RPM
            draft: false
            prerelease: false

  build-rpm:
    runs-on: ubuntu-latest
    steps:
      - name: build RPM package
        id: rpm_build
        uses: naveenrajm7/rpmbuild@master
        with:
            spec_file: "build/package/rpm/healthd.spec
